In [1]:
import pandas as pd

data = {'Empresa':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Nome':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Venda':[200,120,340,124,243,350]}

In [2]:
df=pd.DataFrame(data)

In [3]:
df

  Empresa     Nome  Venda
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [4]:
df.groupby("Empresa")

In [5]:
x = df.groupby("Empresa")

In [6]:
x

In [7]:
print(x.mean())# jeito dele deu erro correção minha celula de baixo

TypeError: agg function failed [how->mean,dtype->object]

In [11]:
x = df.groupby("Empresa")["Venda"].mean()

In [13]:
x

Empresa
FB      296.5
GOOG    160.0
MSFT    232.0
Name: Venda, dtype: float64

In [17]:
x = df.groupby("Empresa")
x.describe()

        Venda
        count   mean         std    min     25%    50%     75%    max
Empresa
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0