In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)

In [3]:
df=pd.DataFrame(np.random.randn(5,4),index='a b c d e'.split(),columns='w x y z'.split())

In [4]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [5]:
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [6]:
type(df['w'])

pandas.core.series.Series

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df[['w','z']]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [9]:
df.w

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [10]:
df['new']=df['w']+df['z']

In [11]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.210676
b  0.651118 -0.319318 -0.848077  0.605965  1.257083
c -2.018168  0.740122  0.528813 -0.589001 -2.607169
d  0.188695 -0.758872 -0.933237  0.955057  1.143752
e  0.190794  1.978757  2.605967  0.683509  0.874303

In [12]:
df.drop('new', axis=1)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [13]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.210676
b  0.651118 -0.319318 -0.848077  0.605965  1.257083
c -2.018168  0.740122  0.528813 -0.589001 -2.607169
d  0.188695 -0.758872 -0.933237  0.955057  1.143752
e  0.190794  1.978757  2.605967  0.683509  0.874303

In [14]:
#df=df.drop('new', axis=1)
df.drop('new', axis=1, inplace=True)

In [15]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [16]:
df.loc['a','w']

2.706849839399938

In [36]:
df.loc['a']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [38]:
df.loc[['a','b'],['x','y','w']]

          x         y         w
a  0.628133  0.907969  2.706850
b -0.319318 -0.848077  0.651118

In [40]:
df.iloc[1:4,2:]

          y         z
b -0.848077  0.605965
c  0.528813 -0.589001
d -0.933237  0.955057