In [1]:
import pandas as pd
import numpy as np

In [3]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['a','b'])
df

             a         b
G1 1  0.851070  0.420804
   2 -1.098248  1.228748
   3  0.935450  0.988471
G2 1 -1.593664  0.633670
   2  0.278652  0.423890
   3 -1.280972 -0.217914

In [7]:
df.loc['G1']

          a         b
1  0.851070  0.420804
2 -1.098248  1.228748
3  0.935450  0.988471

In [11]:
df.loc['G1'].loc[1]

a    0.851070
b    0.420804
Name: 1, dtype: float64

In [13]:
df.index.names = ['Grupo','Número']
df

                     a         b
Grupo Número
G1    1       0.851070  0.420804
      2      -1.098248  1.228748
      3       0.935450  0.988471
G2    1      -1.593664  0.633670
      2       0.278652  0.423890
      3      -1.280972 -0.217914

In [19]:
df.xs('G1')

               a         b
Número
1       0.851070  0.420804
2      -1.098248  1.228748
3       0.935450  0.988471

In [23]:
df.xs(1,level='Número')

              a         b
Grupo
G1     0.851070  0.420804
G2    -1.593664  0.633670